@charset "UTF-8";

@font-face {
  font-family: 'PFDin';
  src: url("../fonts/PFDINTEXTCONDPRO-XBLACK.TTF");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'PFDin';
  src: url("../fonts/PFDINTEXTCONDPRO-BOLD.TTF");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'PFDin';
  src: url("../fonts/PFDINTEXTCONDPRO-MEDIUM_0.TTF");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'PFDin';
  src: url("../fonts/PFDINTEXTCONDPRO-REGULAR.TTF");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PFDin';
  src: url("../fonts/PFDINTEXTCONDPRO-LIGHT.TTF");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'PFDin';
  src: url("../fonts/PFDINTEXTCONDPRO-THIN.TTF");
  font-weight: 100;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  text-transform: none;
  box-sizing: border-box;
  list-style: none;
  border-radius: 0;
  font-family: 'PFDin', sans-serif;
  line-height: 1;
}

select,
input,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
}

*:focus {
  outline: transparent;
}

input[type=submit] {
  border: none;
  cursor: pointer;
}

p {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

b,
strong {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  font-weight: 700;
}

b *,
strong * {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  font-weight: 700;
}

em,
i {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  font-weight: inherit;
  font-style: italic;
}

em *,
i * {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  font-weight: inherit;
  font-style: italic;
}

body {
  overflow: hidden auto;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body footer {
  margin-top: auto;
}

body.fix {
  overflow: hidden;
}

body.fix main {
  overflow: hidden;
}

.container-100 {
  padding: 0 100px;
}

.container-990 {
  width: 90%;
  max-width: 990px;
  margin: 0 auto;
}

.title_1 {
  font-size: 56px;
  font-weight: 500;
  color: #536279;
  text-transform: uppercase;
}

.btn-orange {
  font-size: 18px !important;
  color: #294063 !important;
  background-color: #f89c49 !important;
  padding: 26px 50px !important;
  font-weight: 500 !important;
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  transition: 0.4s;
  text-transform: uppercase;
}

.btn-orange:hover {
  background-color: #294063 !important;
  color: #f89c49 !important;
}

.txt-content * {
  color: #536279;
}

.txt-content > * {
  margin-bottom: 25px;
}

.txt-content > *:last-child {
  margin-bottom: 0;
}

.txt-content h2 {
  font-size: 56px;
  font-weight: 500;
  text-transform: uppercase;
}

.txt-content h3 {
  padding-top: 40px;
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
}

.txt-content p,
.txt-content li,
.txt-content span,
.txt-content div {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.txt-content ul {
  padding-left: 30px;
}

.txt-content ul li {
  list-style: disc;
  margin-bottom: 7px;
}

.txt-content ul li:last-child {
  margin-bottom: 0;
}

.txt-content ol {
  padding-left: 30px;
}

.txt-content ol li {
  list-style: decimal;
  margin-bottom: 7px;
}

.txt-content ol li:last-child {
  margin-bottom: 0;
}

/* Slider */

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */

/* Icons */

@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Arrows */

.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}

[dir="rtl"] .slick-prev {
  left: auto;
  right: -25px;
}

.slick-prev:before {
  content: "←";
}

[dir="rtl"] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -25px;
}

[dir="rtl"] .slick-next {
  left: -25px;
  right: auto;
}

.slick-next:before {
  content: "→";
}

[dir="rtl"] .slick-next:before {
  content: "←";
}

/* Dots */

.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

.footer {
  background-color: #e0e9ee;
  padding: 60px 0;
}

.footer .container-100 {
  display: flex;
  align-items: flex-end;
}

.footer .logo {
  width: 340px;
  margin-right: 60px;
}

.footer .logo img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.footer .cont {
  max-width: 250px;
  margin-right: 100px;
}

.footer .cont p {
  font-size: 16px;
  color: #536279;
  margin-bottom: 20px;
}

.footer .cont a {
  font-size: 16px;
  color: #536279;
  transition: 0.4s;
  display: block;
  margin-bottom: 5px;
}

.footer .cont a:last-child {
  margin-bottom: 0;
}

.footer .cont a:hover {
  color: #f89c49;
}

.footer .menu-coll {
  margin-right: 70px;
}

.footer .menu-coll ul {
  display: flex;
  flex-direction: column;
}

.footer .menu-coll li {
  margin-bottom: 13px;
}

.footer .menu-coll li:last-child {
  margin-bottom: 0;
}

.footer .menu-coll a {
  font-size: 16px;
  color: #3f5968;
  transition: 0.4s;
}

.footer .menu-coll a:hover {
  color: #f89c49;
}

.footer .socials {
  display: flex;
  align-items: flex-start;
  height: 132px;
  margin-left: auto;
}

.footer .socials a {
  display: block;
  width: 40px;
  height: 30px;
  margin-left: 30px;
}

.footer .socials a:first-child {
  margin-left: 0;
}

.footer .socials svg {
  width: 100%;
  height: 100%;
}

.footer .socials svg * {
  transition: 0.4s;
}

.footer .socials a:hover svg * {
  fill: #f89c49 !important;
}

.footer .socials .fb svg * {
  fill: #3f5968;
}

.footer .socials .yt svg * {
  fill: #ff0002;
}

.header {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  display: flex;
  height: 100px;
}

.header > .left {
  width: 50%;
  display: flex;
}

.header > .left .search {
  width: calc(100% - 14.8vw);
  background-color: rgba(155, 170, 190, 0.5);
  transition: 0.4s;
}

.header > .left .search form {
  display: flex;
  height: 100%;
}

.header > .left .search form .btn {
  width: 80px;
  height: 100%;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.header > .left .search form .btn input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.header > .left .search form .btn svg {
  width: 32px;
  height: 32px;
}

.header > .left .search form .btn svg * {
  fill: white;
  transition: 0.4s;
}

.header > .left .search form .btn:hover svg * {
  fill: #f89c49;
}

.header > .left .search form .input {
  width: calc(100% - 80px);
  background-color: transparent;
  border: none;
  font-size: 24px;
  color: white;
  font-weight: 300;
}

.header > .left .search form .input::-webkit-input-placeholder {
  font-size: 24px;
  color: white;
  font-weight: 300;
  letter-spacing: 0.05em;
}

.header > .left .search form .input:-ms-input-placeholder {
  font-size: 24px;
  color: white;
  font-weight: 300;
  letter-spacing: 0.05em;
}

.header > .left .search form .input::-ms-input-placeholder {
  font-size: 24px;
  color: white;
  font-weight: 300;
  letter-spacing: 0.05em;
}

.header > .left .search form .input::placeholder {
  font-size: 24px;
  color: white;
  font-weight: 300;
  letter-spacing: 0.05em;
}

.header > .left .logo {
  width: 14.8vw;
  padding-top: 5px;
  background-color: rgba(124, 135, 156, 0.5);
  transition: 0.4s;
}

.header > .left .logo img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  opacity: 0;
  transition: 0.4s;
}

.header > .right {
  width: calc(50% - 100px);
  display: flex;
}

.header > .right .menu-container {
  background-color: rgba(83, 98, 121, 0.5);
  transition: 0.4s;
  width: 100%;
}

.header > .right .menu-container ul {
  display: flex;
  justify-content: center;
}

.header > .right .menu-container a {
  font-size: 18px;
  font-weight: 500;
  color: #dcddde;
  text-transform: uppercase;
  padding: 40px;
  transition: 0.4s;
  display: block;
}

.header > .right .menu-container a:hover {
  color: #f89c49;
}

.header > .right .menu-container .sub-menu {
  display: none;
}

.header .menu-btn {
  width: 100px;
  background-color: rgba(124, 135, 156, 0.5);
  transition: 0.4s;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.header .menu-btn p {
  font-size: 24px;
  font-weight: 500;
  color: white;
  text-transform: uppercase;
  transition: 0.4s;
}

.header .menu-btn:hover p {
  color: #f89c49;
}

.header .left-mob-menu {
  background-color: rgba(83, 98, 121, 0.5);
  width: calc(50% - 35px);
}

.header .left-mob-menu ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.header .left-mob-menu ul a {
  color: #dcddde;
  font-size: 16px;
  display: block;
  transition: 0.4s;
}

.header .left-mob-menu ul a:hover {
  color: #f89c49;
}

.header .left-mob-menu ul li:nth-child(1) a {
  padding: 13px 9px 5px;
}

.header .left-mob-menu ul li:nth-child(2) a {
  padding: 5px 9px 13px;
}

.header .right-mob-menu {
  background-color: rgba(83, 98, 121, 0.5);
  width: calc(50% - 35px);
}

.header .right-mob-menu ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.header .right-mob-menu ul a {
  color: #dcddde;
  font-size: 16px;
  display: block;
  transition: 0.4s;
}

.header .right-mob-menu ul a:hover {
  color: #f89c49;
}

.header .right-mob-menu ul li:nth-child(1) a {
  padding: 13px 9px 5px;
}

.header .right-mob-menu ul li:nth-child(2) a {
  padding: 5px 9px 13px;
}

.header.fix .left .search {
  background-color: #9baabe;
}

.header.fix .left .logo {
  background-color: #7c879c;
}

.header.fix .left .logo img {
  opacity: 1;
}

.header.fix .right .menu-container {
  background-color: #536279;
}

.header.fix .menu-btn {
  background-color: #7c879c;
}

.header.fix .left-mob-menu {
  background-color: #536279;
}

.header.fix .right-mob-menu {
  background-color: #536279;
}

.big-menu {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 101;
  width: 100%;
  display: none;
}

.big-menu .con {
  height: 100vh;
  display: flex;
}

.big-menu .left {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right center;
  width: 32.8%;
  display: flex;
  flex-direction: column;
}

.big-menu .left ul:nth-child(1) {
  height: 61vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 45px;
}

.big-menu .left ul:nth-child(2) {
  padding-top: 35px;
  height: 39vh;
}

.big-menu .left ul li {
  opacity: 0;
  -webkit-transform: translateX(40px);
          transform: translateX(40px);
  transition: 0.5s;
  pointer-events: none;
}

.big-menu .left ul li.open {
  opacity: 1;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  pointer-events: auto;
}

.big-menu .left a {
  font-size: 24px;
  font-weight: 500;
  color: white;
  display: block;
  padding: 15px 15px 15px 100px;
  width: 100%;
  transition: 0.4s;
}

.big-menu .left a:hover,
.big-menu .left a.active {
  background-color: rgba(255, 255, 255, 0.2);
  color: #f89c49;
}

.big-menu .right {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left center;
  width: 67.2%;
  position: relative;
}

.big-menu .right .sub-menu {
  padding: 170px 0 0 70px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}

.big-menu .right .sub-menu.active {
  opacity: 1;
  pointer-events: auto;
}

.big-menu .right li {
  margin-bottom: 40px;
}

.big-menu .right a {
  font-size: 18px;
  font-weight: 700;
  color: white;
  transition: 0.4s;
}

.big-menu .right a:hover {
  color: #f89c49;
}

.big-menu .exit-btn {
  background-color: rgba(124, 135, 156, 0.5);
  width: 100px;
  height: 100px;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  transition: 0.4s;
}

.big-menu .exit-btn:hover {
  background-color: rgba(124, 135, 156, 0.8);
}

.big-menu .exit-btn:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
          transform: translateX(-50%) translateY(-50%) rotate(-45deg);
  width: 50px;
  height: 3px;
  background-color: white;
}

.big-menu .exit-btn:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
          transform: translateX(-50%) translateY(-50%) rotate(45deg);
  width: 50px;
  height: 3px;
  background-color: white;
}

.big-menu .deco {
  font-size: 326px;
  font-weight: 500;
  position: absolute;
  right: 40px;
  bottom: 0;
  color: rgba(255, 255, 255, 0.05);
  pointer-events: none;
}

.big-menu .con-mob {
  height: 100vh;
  overflow: hidden scroll;
  padding: calc(5vw + 20px) 5vw 5vw;
  padding: 50px;
}

.big-menu .con-mob > ul {
  overflow: hidden scroll;
}

.big-menu .con-mob > ul > li {
  margin-bottom: 5px;
}

.big-menu .con-mob > ul > li a {
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  min-height: 36px;
  align-items: center;
}

.big-menu .con-mob > ul > li a:hover {
  color: white;
}

.big-menu .con-mob > ul > li a .arrow {
  width: 36px;
  min-width: 36px;
  height: 36px;
  background-color: rgba(255, 255, 255, 0.2);
  position: relative;
}

.big-menu .con-mob > ul > li a .arrow:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-75%) translateY(-50%) rotate(45deg);
          transform: translateX(-75%) translateY(-50%) rotate(45deg);
  border: 2px solid white;
  border-left: none;
  border-bottom: none;
  width: 10px;
  height: 10px;
  transition: 0.4s;
}

.big-menu .con-mob > ul > li a .arrow.open:before {
  -webkit-transform: translateX(-50%) translateY(-75%) rotate(135deg);
          transform: translateX(-50%) translateY(-75%) rotate(135deg);
}

.big-menu .con-mob > ul > li ul {
  display: none;
  background-color: rgba(255, 255, 255, 0.2);
}

.big-menu .con-mob > ul > li ul li {
  margin: 0;
}

.big-menu .con-mob > ul > li ul li a {
  padding: 0 36px;
}

.page-home__main {
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.page-home__main .row {
  height: 50vh;
  display: flex;
}

.page-home__main .row .left {
  width: 50%;
  border-bottom: 1px solid #acb4be;
  border-right: 1px solid #acb4be;
  position: relative;
}

.page-home__main .row .left:before {
  content: "";
  position: absolute;
  right: 14.8vw;
  top: 0;
  height: 100%;
  width: 1px;
  background-color: #acb4be;
}

.page-home__main .row .right {
  width: 50%;
  border-bottom: 1px solid #dcddde;
  position: relative;
}

.page-home__main .row:nth-child(1) .left {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding-right: 3.021vw;
}

.page-home__main .row:nth-child(1) .left .logo {
  width: 350px;
  height: 170px;
  -o-object-fit: contain;
     object-fit: contain;
}

.page-home__main .row:nth-child(1) .right {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 140px 40px 40px;
}

.page-home__main .row:nth-child(1) .right:hover p {
  opacity: 1;
}

.page-home__main .row:nth-child(1) .right p {
  font-size: 56px;
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  opacity: 0;
  transition: 0.4s;
}

.page-home__main .row:nth-child(2) .left {
  padding: 8vh 4.5vw;
  border-bottom: none;
}

.page-home__main .row:nth-child(2) .left:hover h2 {
  opacity: 1;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

.page-home__main .row:nth-child(2) .left:hover p {
  opacity: 1;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  transition-delay: 0.15s;
}

.page-home__main .row:nth-child(2) .left:hover a {
  opacity: 1;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  transition-delay: 0.3s;
  position: relative;
}

.page-home__main .row:nth-child(2) .left:hover a:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 1px;
  background-color: #f89c49;
  transition: 0.4s;
}

.page-home__main .row:nth-child(2) .left:hover a:hover:before {
  width: 100%;
}

.page-home__main .row:nth-child(2) .left h2 {
  font-size: 56px;
  color: white;
  font-weight: 700;
  margin-bottom: 15px;
  opacity: 0;
  -webkit-transform: translateX(80px);
          transform: translateX(80px);
  transition: 0.4s;
}

.page-home__main .row:nth-child(2) .left p {
  max-width: 540px;
  color: white;
  margin-bottom: 20px;
  opacity: 0;
  -webkit-transform: translateX(80px);
          transform: translateX(80px);
  transition: 0.4s;
}

.page-home__main .row:nth-child(2) .left a {
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: 18px;
  color: #f89c49;
  text-transform: uppercase;
  opacity: 0;
  -webkit-transform: translateX(80px);
          transform: translateX(80px);
  transition: 0.4s;
}

.page-home__main .row:nth-child(2) .right {
  display: flex;
  flex-wrap: wrap;
  border-bottom: none;
}

.page-home__main .row:nth-child(2) .right .box {
  width: 50%;
  height: 50%;
  padding: 30px 30px 20px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: 0.4s;
  opacity: 0;
}

.page-home__main .row:nth-child(2) .right .box:not(.all) {
  position: relative;
}

.page-home__main .row:nth-child(2) .right .box:not(.all):before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2;
}

.page-home__main .row:nth-child(2) .right .box:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  transition: 3s;
}

.page-home__main .row:nth-child(2) .right .box img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.4s;
}

.page-home__main .row:nth-child(2) .right .box h2 {
  font-size: 24px;
  color: white;
  margin-bottom: 10px;
  position: relative;
  z-index: 3;
}

.page-home__main .row:nth-child(2) .right .box > p {
  font-size: 16px;
  color: white;
  max-width: 300px;
  margin-bottom: 10px;
  position: relative;
  z-index: 2;
}

.page-home__main .row:nth-child(2) .right .box .bottom {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 2;
}

.page-home__main .row:nth-child(2) .right .box .bottom p {
  font-size: 16px;
  color: white;
}

.page-home__main .row:nth-child(2) .right .box .bottom a {
  font-size: 18px;
  text-transform: uppercase;
  color: #f89c49;
  transition: 0.4s;
  position: relative;
}

.page-home__main .row:nth-child(2) .right .box .bottom a:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 1px;
  background-color: #f89c49;
  transition: 0.4s;
}

.page-home__main .row:nth-child(2) .right .box .bottom a:hover:before {
  width: 100%;
}

.page-home__main .row:nth-child(2) .right .box.all {
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-home__main .row:nth-child(2) .right .box.all h2 {
  font-size: 56px;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  max-width: 210px;
  transition: 0.4s;
  margin-bottom: 0;
}

.page-home__main .row:nth-child(2) .right .box.all:hover h2 {
  color: #f89c49;
}

.page-home__main .row:nth-child(2) .right:hover .box {
  opacity: 1;
  transition: 0.8s;
}

.page-home__main .row:nth-child(2) .right:hover .box:nth-child(1) {
  transition-delay: 0s;
}

.page-home__main .row:nth-child(2) .right:hover .box:nth-child(2) {
  transition-delay: 0.15s;
}

.page-home__main .row:nth-child(2) .right:hover .box:nth-child(3) {
  transition-delay: 0.30s;
}

.page-home__main .row:nth-child(2) .right:hover .box:nth-child(4) {
  transition-delay: 0.45s;
}

.page-home__ready {
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: right center;
  padding: 220px 0 100px;
  overflow: hidden;
}

.page-home__ready .container-100 {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.page-home__ready .container-100 .left {
  width: 540px;
  margin-right: 50px;
}

.page-home__ready .container-100 .left .title_1 {
  margin-bottom: 30px;
}

.page-home__ready .container-100 .left p {
  color: #536279;
}

.page-home__ready .container-100 .left a {
  margin-top: 70px;
}

.page-home__ready .container-100 .right {
  width: 1100px;
  margin-right: -100px;
  position: relative;
}

.page-home__ready .container-100 .right .draggable {
  display: flex;
  overflow: scroll hidden;
  height: 533px;
  -webkit-overflow-scrolling: touch;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.page-home__ready .container-100 .right .box {
  margin-right: 80px;
  position: relative;
  padding-bottom: 90px;
  padding-right: 120px;
  cursor: pointer;
}

.page-home__ready .container-100 .right .box:before {
  content: "";
  left: 0;
  top: 0;
  position: absolute;
  z-index: 2;
  width: calc(100% - 120px);
  height: 430px;
  background-color: rgba(0, 0, 0, 0.5);
}

.page-home__ready .container-100 .right .box img {
  width: 800px;
  height: 430px;
  -o-object-fit: cover;
     object-fit: cover;
}

.page-home__ready .container-100 .right .box h3 {
  font-size: 92px;
  color: #dcddde;
  font-weight: 500;
  position: absolute;
  right: 0;
  bottom: 10px;
  z-index: 3;
}

.page-home__ready .container-100 .right .box h3 span {
  font-size: 92px;
  color: #536279;
  font-weight: 500;
}

.page-home__assambl {
  background-color: #e0e9ee;
  padding: 220px 0 0;
}

.page-home__assambl .content {
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
}

.page-home__assambl .left {
  width: 575px;
  margin-right: 50px;
  min-width: 475px;
}

.page-home__assambl .left h2 {
  margin-bottom: 20px;
}

.page-home__assambl .left p {
  color: #536279;
}

.page-home__assambl .right {
  width: 860px;
}

.page-home__assambl .right .video {
  width: 100%;
  position: relative;
}

.page-home__assambl .right .video video {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.page-home__assambl .right .video .btn {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  width: 46px;
  height: 46px;
  background-color: #f89c49;
  border-radius: 99px;
  cursor: pointer;
  transition: 0.4s;
}

.page-home__assambl .right .video .btn:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-12.5%) translateY(-50%) rotate(90deg);
          transform: translateX(-12.5%) translateY(-50%) rotate(90deg);
  border: 7px solid transparent;
  border-bottom: 7px solid #294063;
}

.page-home__assambl .right .video .btn.close {
  -webkit-transform: translateX(-50%) translateY(50%);
          transform: translateX(-50%) translateY(50%);
  opacity: 0;
}

.page-home__assambl .row-b .left {
  width: 575px;
  height: 375px;
}

.page-home__assambl .row-b .left img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.page-home__contacts {
  display: flex;
}

.page-home__contacts .left {
  width: 50%;
  padding: 200px 30px 100px 100px;
}

.page-home__contacts .left h2 {
  margin-bottom: 50px;
}

.page-home__contacts .left form {
  width: 100%;
  max-width: 575px;
}

.page-home__contacts .left form p > span,
.page-home__contacts .left form .form-group > span {
  display: block;
  margin-bottom: 30px;
}

.page-home__contacts .left form .input {
  padding: 6px 0;
  width: 100%;
  border: none;
  border-bottom: 1px solid #536279;
  color: #536279;
  font-size: 24px;
  font-weight: 300;
  background-color: transparent;
}

.page-home__contacts .left form .btn-orange {
  margin-top: 50px;
}

.page-home__contacts .right {
  width: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.page-home .popup {
  position: fixed;
  z-index: 200;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(95, 97, 113, 0.85);
  display: none;
}

.page-home .popup .box {
  width: 90%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

.page-home .popup .box h2 {
  color: white;
  margin-bottom: 20px;
  text-align: center;
}

.page-home .popup .box p {
  color: white;
  margin-bottom: 30px;
  text-align: center;
}

.popup {
  display: none;
}

.popup .custom-select {
  width: 100%;
}

.popup textarea {
  resize: none;
}

.popup .check-box:last-child {
  margin-bottom: 0;
}

.popup .select-selected {
  padding: 20px;
}

.popup .select-selected:before {
  right: 20px;
}

.popup .popup-checkbox {
  font-weight: 500;
  color: #536279;
  padding: 20px 0 10px;
}

.popup .exit-btn {
  background-color: rgba(124, 135, 156, 0.5);
  width: 40px;
  height: 40px;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  transition: 0.4s;
}

.popup .exit-btn:hover {
  background-color: rgba(124, 135, 156, 0.8);
}

.popup .exit-btn:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
          transform: translateX(-50%) translateY(-50%) rotate(-45deg);
  width: 20px;
  height: 2px;
  background-color: white;
}

.popup .exit-btn:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
          transform: translateX(-50%) translateY(-50%) rotate(45deg);
  width: 20px;
  height: 2px;
  background-color: white;
}

.page-template {
  padding-top: 180px;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.breadcrumbs * {
  font-size: 16px;
  font-weight: 300;
  color: #536279;
}

.breadcrumbs a {
  transition: 0.4s;
}

.breadcrumbs a:hover {
  color: #f89c49;
}

.breadcrumbs span {
  padding: 0 3px;
}

.title-block h1 {
  font-size: 56px;
  text-transform: uppercase;
  font-weight: 500;
  color: #536279;
}

.title-block p {
  margin-top: 30px;
  color: #536279;
  max-width: 840px;
}

.block_header {
  padding-bottom: 90px;
}

.block_header .container-100 {
  display: flex;
  justify-content: space-between;
}

.block_header.bg {
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: contain;
}

.block_header.long p {
  max-width: 1250px;
}

.block_header .dop-info {
  padding-top: 50px;
}

.block_header .search {
  align-self: flex-end;
  width: 480px;
  min-width: 480px;
  transition: 0.4s;
  margin-left: 50px;
}

.block_header .search form {
  display: flex;
  height: 100%;
  background-color: #9baabe;
}

.block_header .search form .btn {
  width: 75px;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.block_header .search form .btn input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.block_header .search form .btn svg {
  width: 32px;
  height: 32px;
}

.block_header .search form .btn svg * {
  fill: white;
  transition: 0.4s;
}

.block_header .search form .btn:hover svg * {
  fill: #f89c49;
}

.block_header .search form .input {
  width: calc(100% - 80px);
  background-color: transparent;
  border: none;
  font-size: 24px;
  color: white;
  font-weight: 300;
  padding: 20px 0;
  letter-spacing: 0.05em;
}

.block_header .search form .input::-webkit-input-placeholder {
  font-size: 24px;
  color: white;
  font-weight: 300;
  letter-spacing: 0.05em;
}

.block_header .search form .input:-ms-input-placeholder {
  font-size: 24px;
  color: white;
  font-weight: 300;
  letter-spacing: 0.05em;
}

.block_header .search form .input::-ms-input-placeholder {
  font-size: 24px;
  color: white;
  font-weight: 300;
  letter-spacing: 0.05em;
}

.block_header .search form .input::placeholder {
  font-size: 24px;
  color: white;
  font-weight: 300;
  letter-spacing: 0.05em;
}

.block_header .search .letters {
  padding-top: 15px;
  display: flex;
}

.block_header .search .letters a {
  color: #536279;
  font-size: 24px;
  font-weight: 300;
  transition: 0.4s;
  margin-right: 7px;
  display: block;
}

.block_header .search .letters a:hover {
  color: #f89c49;
}

.block_catalog.triple.template_4 {
  padding-top: 100px;
}

.block_catalog.triple.template_4 .title_1 {
  margin-bottom: 60px;
}

.block_catalog.triple.template_4 .row-btn {
  padding-bottom: 100px;
}

.block_catalog.triple.template_4 .btn-orange {
  margin-left: auto;
}

.block_catalog.triple .catalog-list {
  display: flex;
  flex-wrap: wrap;
}

.block_catalog.triple .catalog-list .box {
  width: 480px;
  margin-right: calc((100% - 1440px)/2);
  margin-bottom: 100px;
}

.block_catalog.triple .catalog-list .box:nth-child(1),
.block_catalog.triple .catalog-list .box:nth-child(2),
.block_catalog.triple .catalog-list .box:nth-child(3) {
  order: -2;
}

.sub-row {
  width: 100%;
  background-color: #536279;
  margin-bottom: 100px;
  padding: 40px 140px 60px;
  order: -1;
}

.sub-row h2 {
  font-size: 24px;
  font-weight: 700;
  color: white;
  margin-bottom: 60px;
  text-align: center;
}

.sub-row form .form-cont {
  display: flex;
  flex-wrap: wrap;
}

.sub-row form .input-box {
  width: calc(33.333% - 60px);
  margin-right: 90px;
}

.sub-row form .input-box.select-box {
  position: relative;
  z-index: 2;
}

.sub-row form .input-box.select-box:after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 16px solid white;
  z-index: -1;
}

.sub-row form .input-box:nth-child(3) {
  margin-right: 0;
  margin-bottom: 0 !important;
}

.sub-row form .input-box input {
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid white;
  font-size: 24px;
  font-weight: 300;
  color: white;
  background-color: transparent;
  padding: 6px 0;
}

.sub-row form .input-box input::-webkit-input-placeholder {
  font-size: 24px;
  font-weight: 300;
  color: white;
}

.sub-row form .input-box input:-ms-input-placeholder {
  font-size: 24px;
  font-weight: 300;
  color: white;
}

.sub-row form .input-box input::-ms-input-placeholder {
  font-size: 24px;
  font-weight: 300;
  color: white;
}

.sub-row form .input-box input::placeholder {
  font-size: 24px;
  font-weight: 300;
  color: white;
}

.sub-row form .input-box select {
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid white;
  font-size: 24px;
  font-weight: 300;
  color: white;
  background-color: transparent;
  padding: 6px 0;
}

.sub-row form .input-box select::-webkit-input-placeholder {
  font-size: 24px;
  font-weight: 300;
  color: white;
}

.sub-row form .input-box select:-ms-input-placeholder {
  font-size: 24px;
  font-weight: 300;
  color: white;
}

.sub-row form .input-box select::-ms-input-placeholder {
  font-size: 24px;
  font-weight: 300;
  color: white;
}

.sub-row form .input-box select::placeholder {
  font-size: 24px;
  font-weight: 300;
  color: white;
}

.sub-row form .btn-orange {
  margin: 60px 0 0 auto;
}

.sub-row form .custom-select {
  position: relative;
  font-family: Arial;
}

.sub-row form .custom-select select {
  display: none;
}

.sub-row form .select-selected {
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid white;
  font-size: 24px;
  font-weight: 300;
  color: white;
  background-color: transparent;
  padding: 8px 0;
  cursor: pointer;
}

.sub-row form .select-items {
  position: absolute;
  background-color: #7c879c;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  cursor: pointer;
}

.sub-row form .select-items > div {
  padding: 10px 30px;
  color: white;
  font-size: 24px;
  font-weight: 300;
}

.sub-row form .select-hide {
  display: none;
}

.sub-row form .select-items div:hover,
.sub-row form .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

.block_catalog.with-aside .container-100 {
  display: flex;
  align-items: flex-start;
}

.block_catalog.with-aside aside {
  width: 480px;
  min-width: 480px;
  margin-right: calc((100vw - 1660px)/2);
}

.block_catalog.with-aside .catalog-list .box {
  width: 480px;
  margin-right: calc((100vw - 1660px)/2);
  margin-bottom: 100px;
}

.block_catalog.with-aside .catalog-list .box:nth-child(2n) {
  margin-right: 0;
}

.block_catalog.with-aside .catalog-list.withoutImg .box {
  width: calc(50% - 15px);
  margin-right: 30px;
  margin-bottom: 30px;
}

.block_catalog.with-aside .catalog-list.withoutImg .box:nth-child(2n) {
  margin-right: 0;
}

aside .acc_title {
  background-color: #536279;
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  padding: 15px 75px 15px 50px;
  display: flex;
  align-items: center;
  min-height: 80px;
  position: relative;
  cursor: pointer;
  margin-top: 2px;
}

aside .acc_title:first-child {
  margin-top: 0;
}

aside .acc_title.triangle:after {
  content: "";
  position: absolute;
  right: 50px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 16px solid white;
}

aside .acc_body {
  background-color: #e0e9ee;
  padding: 50px;
  display: none;
}

.check-box {
  position: relative;
  margin-bottom: 10px;
}

.check-box:last-child {
  margin-bottom: 0;
}

.check-box:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border: 2px solid #536279;
  border-radius: 4px;
}

.check-box label {
  font-size: 24px;
  font-weight: 300;
  color: #536279;
  padding-left: 45px;
  transition: 0.4s;
  position: relative;
  cursor: pointer;
}

.check-box label:hover {
  color: #f89c49;
}

.check-box label:before {
  content: "";
  position: absolute;
  left: 9px;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  width: 14px;
  height: 3px;
  background-color: #536279;
  border-radius: 4px;
  opacity: 0;
  transition: 0.4s;
}

.check-box label:after {
  content: "";
  position: absolute;
  left: 9px;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(90deg);
          transform: translateX(-50%) translateY(-50%) rotate(90deg);
  width: 14px;
  height: 3px;
  background-color: #536279;
  border-radius: 4px;
  opacity: 0;
  transition: 0.4s;
}

.check-box input:checked + label:before,
.check-box input:checked + label:after {
  opacity: 1;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
}

.catalog-list.withoutImg .box {
  min-height: 200px;
}

.catalog-list.withoutImg .box:hover {
  box-shadow: 0 0 15px rgba(83, 98, 121, 0.5);
}

.catalog-list.withoutImg .box:before {
  background-color: #e0e9ee;
}

.catalog-list.withoutImg .box p,
.catalog-list.withoutImg .box h2 {
  color: #536279 !important;
}

.catalog-list .box {
  min-height: 270px;
  padding: 30px 30px 20px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: 0.4s;
  position: relative;
}

.catalog-list .box:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2;
}

.catalog-list .box:hover {
  box-shadow: 0 0 15px #536279;
}

.catalog-list .box img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.4s;
}

.catalog-list .box h2 {
  font-size: 24px;
  color: white;
  margin-bottom: 10px;
  position: relative;
  z-index: 3;
}

.catalog-list .box > p {
  font-size: 16px;
  color: white;
  max-width: 300px;
  margin-bottom: 30px;
  position: relative;
  z-index: 2;
}

.catalog-list .box .bottom {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 2;
}

.catalog-list .box .bottom p {
  font-size: 16px;
  color: white;
}

.catalog-list .box .bottom a {
  font-size: 18px;
  text-transform: uppercase;
  color: #f89c49;
  transition: 0.4s;
  position: relative;
}

.catalog-list .box .bottom a:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 1px;
  background-color: #f89c49;
  transition: 0.4s;
}

.catalog-list .box .bottom a:hover:before {
  width: 100%;
}

.catalog-list .box.all {
  display: flex;
  align-items: center;
  justify-content: center;
}

.catalog-list .box.all h2 {
  font-size: 56px;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  max-width: 210px;
  transition: 0.4s;
  margin-bottom: 0;
}

.catalog-list .box.all:hover h2 {
  color: #f89c49;
}

.catalog-list.double {
  justify-content: space-between;
}

.catalog-list.double .box {
  width: 480px;
}

.two-cases {
  display: flex;
  justify-content: space-between;
}

.two-cases .case-box {
  width: calc(50% - 20px);
}

.tree-cases {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.tree-cases .case-box {
  width: calc(33% - 20px);
}

.case-box img {
  display: block;
  width: 100%;
  height: 270px;
  margin-bottom: 15px;
}

.case-box h3 {
  font-size: 18px;
  color: #536279;
  margin-bottom: 10px;
  transition: 0.4s;
}

.case-box p {
  font-size: 16px;
  color: #536279;
}

.case-box:hover h3 {
  color: #f89c49;
}

.template_4_header {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.template_4_header:before {
  content: "";
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(180deg, #8fa2b8 0%, #828fa6 100%);
  opacity: 0.702;
}

.template_4_header:after {
  content: "";
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(180deg, #8fa2b8 0%, #828fa6 100%);
  opacity: 0.702;
  mix-blend-mode: multiply;
}

.template_4_header > .container-100 {
  padding-top: 18vh;
  height: 100vh;
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column;
}

.template_4_header h1 {
  font-size: 8.438vw;
  font-weight: 500;
  color: white;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.template_4_header .description-text {
  text-align: center;
  max-width: 550px;
  margin: 0 auto 40px;
  color: white;
}

.template_4_header .page-home__ready {
  margin-top: auto;
  min-height: unset;
  padding: 0;
  margin-bottom: -96px;
  overflow: visible;
}

.template_4_header .page-home__ready h2,
.template_4_header .page-home__ready p {
  color: white !important;
}

.template_4_header .page-home__ready .container-100 .left .title_1 {
  margin-bottom: 20px;
}

.template_4_header .page-home__ready .container-100 .left a {
  margin-top: 50px;
}

.template_4_header-simple {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.template_4_header-simple:before {
  content: "";
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(180deg, #8fa2b8 0%, #828fa6 100%);
  opacity: 0.702;
}

.template_4_header-simple:after {
  content: "";
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(180deg, #8fa2b8 0%, #828fa6 100%);
  opacity: 0.702;
  mix-blend-mode: multiply;
}

.template_4_header-simple > .container-100 {
  padding-top: 18vh;
  padding-bottom: 150px;
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column;
}

.template_4_header-simple h1 {
  font-size: 8.438vw;
  font-weight: 500;
  color: white;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.template_4_header-simple .description-text {
  text-align: center;
  max-width: 550px;
  margin: 0 auto;
  color: white;
}

.template_4_double-coll {
  padding: 270px 0;
  background-size: contain;
  background-position: right bottom;
  background-repeat: no-repeat;
}

.template_4_double-coll.small-padding {
  padding: 100px 0;
}

.template_4_double-coll.small-padding .left p,
.template_4_double-coll.small-padding .left h2,
.template_4_double-coll.small-padding .right p,
.template_4_double-coll.small-padding .right h2 {
  max-width: 685px;
}

.template_4_double-coll .container-100 {
  display: flex;
}

.template_4_double-coll * {
  color: #536279;
}

.template_4_double-coll .left {
  width: 50%;
  padding-right: 50px;
}

.template_4_double-coll .left h2 {
  max-width: 590px;
  margin-bottom: 25px;
}

.template_4_double-coll .left h2:last-child {
  margin-bottom: 0;
}

.template_4_double-coll .left p {
  max-width: 550px;
}

.template_4_double-coll .right {
  width: 50%;
}

.template_4_double-coll .right h2 {
  max-width: 590px;
}

.template_4_double-coll .right p {
  max-width: 550px;
}

.template_4_services .title_1 {
  margin-bottom: 60px;
}

.template_4_services .bottom {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-wrap: wrap;
}

.template_4_services .bottom .box {
  width: 33.333%;
  padding: 95px 90px 45px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.template_4_services .bottom .box:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #536279;
  opacity: .8;
  z-index: 1;
}

.template_4_services .bottom .box * {
  position: relative;
  z-index: 2;
}

.template_4_services .bottom .box h3 {
  color: #dcddde;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

.template_4_services .bottom .box p {
  font-size: 16px;
  color: #dcddde;
  max-width: 295px;
  margin-bottom: 30px;
}

.template_4_services .bottom .box:nth-child(1) {
  border-bottom: 1px solid #ffffff;
}

.template_4_services .bottom .box:nth-child(3) {
  border-bottom: 1px solid #ffffff;
}

.template_4_services .bottom .box:nth-child(2) {
  border: 1px solid #ffffff;
  border-top: none;
}

.template_4_services .bottom .box:nth-child(5) {
  border: 1px solid #ffffff;
  border-top: none;
  border-bottom: none;
}

.template_4_fulImg {
  display: flex;
}

.template_4_fulImg .left {
  width: 50%;
}

.template_4_fulImg .right {
  width: 50%;
}

.template_4_fulImg .txt-content {
  padding: 140px 100px;
}

.template_4_fulImg img {
  width: 100%;
  height: 100%;
  max-height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.template_4_defImg {
  padding: 200px 0;
}

.template_4_defImg.small-padding {
  padding: 100px 0;
}

.template_4_defImg .container-100 {
  display: flex;
}

.template_4_defImg .left {
  padding-right: 50px;
  width: 50%;
}

.template_4_defImg img {
  max-width: 100%;
  max-height: 590px;
  -o-object-fit: contain;
     object-fit: contain;
  display: block;
}

.template_4_defImg p {
  max-width: 730px;
}

.template_4_defImg .right {
  width: 50%;
}

.template_4_calendar {
  display: flex;
  align-items: center;
}

.template_4_calendar .left {
  padding: 0 50px 0 100px;
  width: 35%;
  min-width: 500px;
}

.template_4_calendar .right-dates {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-wrap: wrap;
  width: 65%;
}

.template_4_calendar .right-dates .box {
  width: 50%;
  padding: 95px 90px 45px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.template_4_calendar .right-dates .box:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #536279;
  opacity: .8;
  z-index: 1;
}

.template_4_calendar .right-dates .box * {
  position: relative;
  z-index: 2;
}

.template_4_calendar .right-dates .box h3 {
  color: #dcddde;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

.template_4_calendar .right-dates .box p {
  font-size: 16px;
  color: #dcddde;
  max-width: 295px;
  margin-bottom: 30px;
}

.template_4_calendar .right-dates .box:nth-child(1) {
  border-bottom: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
}

.template_4_calendar .right-dates .box:nth-child(2) {
  border-bottom: 1px solid #ffffff;
}

.template_4_calendar .right-dates .box:nth-child(3) {
  border-right: 1px solid #ffffff;
}

.template_4_cases {
  padding: 200px 0 180px;
  background-position: right bottom;
  background-size: contain;
  background-repeat: no-repeat;
}

.template_4_cases .container-100 {
  display: flex;
}

.template_4_cases .left {
  width: 50%;
  padding-right: 50px;
}

.template_4_cases .left p {
  max-width: 550px;
}

.template_4_cases .right {
  width: 50%;
  min-width: 850px;
}

.template_4_defVideo {
  padding: 60px 0;
}

.template_4_defVideo .container-100 {
  display: flex;
  align-items: center;
}

.template_4_defVideo .left {
  padding-right: 50px;
  width: 50%;
}

.template_4_defVideo p {
  max-width: 570px;
}

.template_4_defVideo .right {
  width: 50%;
}

.template_4_defVideo .video {
  width: 100%;
  position: relative;
}

.template_4_defVideo .video video {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.template_4_defVideo .video .btn {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  width: 46px;
  height: 46px;
  background-color: #f89c49;
  border-radius: 99px;
  cursor: pointer;
  transition: 0.4s;
}

.template_4_defVideo .video .btn:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-12.5%) translateY(-50%) rotate(90deg);
          transform: translateX(-12.5%) translateY(-50%) rotate(90deg);
  border: 7px solid transparent;
  border-bottom: 7px solid #294063;
}

.template_4_defVideo .video .btn.close {
  -webkit-transform: translateX(-50%) translateY(50%);
          transform: translateX(-50%) translateY(50%);
  opacity: 0;
}

.template_4_with-title-full {
  padding: 100px 0;
}

.template_4_with-title-full .container-100 {
  display: flex;
  flex-wrap: wrap;
}

.template_4_with-title-full .title-full {
  width: 100%;
  margin-bottom: 50px;
}

.template_4_with-title-full .left {
  width: 50%;
  padding-right: 25px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-left: 100px;
}

.template_4_with-title-full .right {
  padding-left: 25px;
  padding-right: 100px;
  width: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.template_4_with-title-full img {
  display: block;
  width: 100%;
}

.template_4_with-title-full.fullImg {
  display: flex;
  flex-wrap: wrap;
}

.template_4_with-title-full.fullImg .title-full {
  padding: 0 100px;
}

.template_4_project {
  padding-bottom: 60px;
}

.template_4_project .container-100 {
  display: flex;
}

.template_4_project .left {
  width: 50%;
  padding-right: 50px;
}

.template_4_project .right {
  width: 50%;
}

.template_4_project .gallery {
  display: flex;
  flex-wrap: wrap;
}

.template_4_project .gallery .img {
  display: none;
}

.template_4_project .gallery .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.template_4_project .gallery .img:nth-child(1) {
  display: block;
  width: 100%;
  height: 550px;
  margin-bottom: 40px;
}

.template_4_project .gallery .img:nth-child(2),
.template_4_project .gallery .img:nth-child(3) {
  display: block;
  width: calc(33.33% - 26.667px);
  height: 170px;
  margin-right: 40px;
}

.template_4_project .gallery .img:nth-child(4) {
  width: calc(33.33% - 26.667px);
  height: 170px;
}

.template_4_project .gallery .text {
  width: calc(33.33% - 26.667px);
  height: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.template_4_project .gallery .text p {
  font-size: 56px;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
  color: #536279;
}

.template_4_project .row-blocks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.template_4_project .row-blocks .box {
  width: calc(50% - 25px);
  margin-bottom: 45px;
}

.template_4_project .row-blocks h3 {
  padding-top: 0;
  margin-bottom: 10px;
}

.custom-select {
  position: relative;
  width: 50%;
}

.custom-select:nth-child(1) {
  border-right: 1px solid #e0e9ee;
}

.custom-select:nth-child(2) {
  border-left: 1px solid #e0e9ee;
}

.custom-select select {
  display: none;
}

.select-selected {
  display: block;
  width: 100%;
  border: none;
  font-size: 18px;
  font-weight: 500;
  color: white;
  background-color: #536279;
  cursor: pointer;
  padding: 30px 100px;
  text-transform: uppercase;
}

.select-selected:before {
  content: "";
  position: absolute;
  right: 50px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 16px solid #fff;
}

.select-items {
  position: absolute;
  background-color: #7c879c;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  cursor: pointer;
}

.select-items > div {
  padding: 10px 30px;
  color: white;
  font-size: 24px;
  font-weight: 300;
}

.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

.template_4_table {
  width: 100%;
}

.template_4_table .row-filter {
  display: flex;
}

.template_4_table .scroll-table {
  width: 100%;
  overflow: auto hidden;
}

.template_4_table table {
  border-collapse: collapse;
  width: 100%;
  min-width: 480px;
}

.template_4_table table th {
  font-size: 18px;
  text-transform: uppercase;
  color: #536279;
  padding: 40px 30px;
  background-color: #e0e9ee;
  text-align: left;
  border-bottom: 1px solid white;
  white-space: nowrap;
}

.template_4_table table td {
  font-size: 24px;
  color: #536279;
  font-weight: 300;
  padding: 30px;
  background-color: #e0e9ee;
  border-bottom: 1px solid white;
}

.template_4_accr .btn-orange {
  text-align: center;
}

.template_4_accr .box-item {
  display: flex;
  margin-bottom: 2px;
  cursor: pointer;
  position: relative;
}

.template_4_accr .box-item.setup .big {
  transition: 0s !important;
}

.template_4_accr .box-item.open {
  cursor: auto;
}

.template_4_accr .box-item.open .left {
  width: 400px;
}

.template_4_accr .box-item.open .right {
  padding-top: 40px;
  padding-left: 120px;
}

.template_4_accr .box-item.open .right .big {
  padding: 35px 0 !important;
  opacity: 1;
}

.template_4_accr .box-item.open .close {
  opacity: 1;
  pointer-events: auto;
}

.template_4_accr .close {
  pointer-events: none;
  opacity: 0;
  transition: 0.5s;
  position: absolute;
  right: 50px;
  top: 40px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.template_4_accr .close:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
  width: 30px;
  height: 1px;
  background-color: #536279;
}

.template_4_accr .close:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
  width: 30px;
  height: 1px;
  background-color: #536279;
}

.template_4_accr .left {
  width: 140px;
  padding: 20px;
  background-color: #536279;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}

.template_4_accr .left img {
  width: 100%;
}

.template_4_accr .right {
  width: calc(100% - 140px);
  padding: 20px 25px;
  background-color: #e0e9ee;
  transition: 0.5s;
}

.template_4_accr .right h2,
.template_4_accr .right h3 {
  font-size: 18px;
  font-weight: 500;
  color: #536279;
  margin-bottom: 12px;
}

.template_4_accr .right p {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 10px;
  color: #536279;
}

.template_4_accr .right :last-child {
  margin-bottom: 0;
}

.template_4_accr .big {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  transition: 0.5s;
  padding: 35px 0;
  opacity: 0;
}

.template_4_accr .big .coll {
  width: 50%;
  padding-right: 30px;
}

.template_4_accr .big .bottom {
  width: 100%;
  padding-top: 40px;
}

.members {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.members .container-100 {
  position: relative;
  z-index: 2;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 18vh;
  padding-bottom: 10vh;
}

.members .container-100 h1 {
  font-size: 8.438vw;
  font-weight: 500;
  color: white;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.members .info {
  display: flex;
}

.members .info h2 {
  color: white;
}

.members .info .left {
  width: 50%;
}

.members .info .left h2,
.members .info .left p {
  color: white;
  max-width: 550px;
}

.members .info .left p {
  margin-top: 15px;
}

.members .info .right {
  width: 50%;
}

.members .info .right h2 {
  max-width: 450px;
  margin-bottom: 15px;
}

.members .info .right form {
  max-width: 575px;
}

.members .info .right .input {
  width: 100%;
  background-color: transparent;
  border: none;
  font-size: 24px;
  color: white;
  font-weight: 300;
  padding: 6px 0;
  letter-spacing: 0.05em;
  border-bottom: 1px solid white;
  margin-bottom: 35px;
}

.members .info .right .input::-webkit-input-placeholder {
  font-size: 24px;
  color: white;
  font-weight: 300;
  letter-spacing: 0.05em;
}

.members .info .right .input:-ms-input-placeholder {
  font-size: 24px;
  color: white;
  font-weight: 300;
  letter-spacing: 0.05em;
}

.members .info .right .input::-ms-input-placeholder {
  font-size: 24px;
  color: white;
  font-weight: 300;
  letter-spacing: 0.05em;
}

.members .info .right .input::placeholder {
  font-size: 24px;
  color: white;
  font-weight: 300;
  letter-spacing: 0.05em;
}

.page-single .page-home__contacts .left {
  background-color: #e0e9ee;
}

.header-single {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-top: 180px;
  padding-bottom: 100px;
}

.header-single:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #536279;
  opacity: 0.8;
}

.header-single .container-100 {
  position: relative;
  z-index: 2;
}

.header-single .container-100 * {
  color: white;
}

.header-single .description {
  max-width: 570px;
}

.header-single .title_1 {
  margin-bottom: 20px;
}

.header-single .description {
  padding-top: 60px;
}

.header-single .row {
  display: flex;
}

.header-single .date {
  padding-right: 20px;
}

.content-single {
  padding: 100px 0;
}

.content-single .container-990 > * {
  margin-bottom: 30px;
}

.content-single .container-990 > *:last-child {
  margin-bottom: 0;
}

.content-single .container-990 img {
  width: 100%;
  height: auto;
}

.page-account {
  padding-bottom: 100px;
}

.page-account .acc_title {
  transition: 0.4s;
}

.page-account .acc_title:hover,
.page-account .acc_title.open {
  background-color: #7c879c;
}

.page-account .tab-body {
  width: 100%;
  display: none;
}

.page-account .tab-body.active {
  display: block;
}

.page-account .form-adm {
  width: 100%;
}

.page-account .form-adm form {
  width: 100%;
}

.page-account .form-adm textarea {
  width: 100%;
  height: 360px;
  background-color: #e0e9ee;
  padding: 35px 40px;
  margin-bottom: 35px;
  resize: none;
  border: none;
  font-size: 24px;
  font-weight: 300;
  color: #536279;
}

.page-account .form-adm textarea::-webkit-input-placeholder {
  font-size: 24px;
  color: #536279;
}

.page-account .form-adm textarea:-ms-input-placeholder {
  font-size: 24px;
  color: #536279;
}

.page-account .form-adm textarea::-ms-input-placeholder {
  font-size: 24px;
  color: #536279;
}

.page-account .form-adm textarea::placeholder {
  font-size: 24px;
  color: #536279;
}

.popup.form_pop {
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #e0e9ee;
  width: 90%;
  max-width: 500px;
  height: auto;
  box-shadow: 0 0 15px rgba(83, 98, 121, 0.4);
  z-index: 100;
  max-height: 90vh;
  overflow: hidden auto;
}

.popup.form_pop form {
  padding: 50px;
}

.popup.form_pop form p > span,
.popup.form_pop form .form-group > span {
  display: block;
  margin-bottom: 30px;
}

.popup.form_pop form .input {
  padding: 6px 0;
  width: 100%;
  border: none;
  border-bottom: 1px solid #536279;
  color: #536279;
  font-size: 24px;
  font-weight: 300;
  background-color: transparent;
}

.popup.form_pop form .btn-orange {
  margin-top: 30px;
}

.template_4_calendar-nav {
  padding-bottom: 100px;
}

.template_4_calendar-nav .container-100 {
  display: flex;
}

.template_4_calendar-nav .left-menu {
  width: 50%;
  padding-right: 50px;
}

.template_4_calendar-nav .right-menu {
  width: 50%;
}

.template_4_calendar-nav a {
  font-size: 18px;
  color: #536279;
  font-weight: 700;
  margin-right: 30px;
  text-transform: uppercase;
  transition: 0.4s;
}

.template_4_calendar-nav a:last-child {
  margin-right: 0;
}

.template_4_calendar-nav a:hover,
.template_4_calendar-nav a.active {
  color: #f89c49;
}

.template_4_services .bottom .box {
  border: 1px solid white !important;
  margin-left: -1px;
  margin-bottom: -1px;
  width: calc(33.333% + 1px) !important;
}

.partners-subTop {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right bottom;
  padding-top: 250px;
}

.partners-subTop .catalog-list {
  padding-top: 50px;
  max-width: 1100px;
  margin-bottom: 0;
}

.partners-subTop .catalog-list .box {
  margin-bottom: 70px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.template_4_numbers {
  padding: 120px 0 60px;
}

.template_4_numbers h2 {
  margin-bottom: 50px;
}

.template_4_numbers .steps {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0;
}

.template_4_numbers .steps .box {
  width: 50%;
  margin-bottom: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.template_4_numbers .steps .box span {
  font-size: 200px;
  font-weight: 500;
  color: #536279;
  margin-right: 40px;
}

.template_4_numbers .steps .box p {
  width: 300px;
}

.template_4_numbers .btn-orange {
  margin: 0 auto;
}

.template_4_textBlock {
  padding: 120px 0;
}

.template_4_faq .container-100 {
  display: flex;
}

.template_4_faq .left {
  width: 50%;
  padding-right: 50px;
}

.template_4_faq .right {
  width: 50%;
}

.template_4_faq img {
  width: 100%;
  height: auto;
  max-height: 700px;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.template_4_faq .txt-content {
  padding-bottom: 20px;
}

.template_4_faq .acc {
  max-width: 650px;
  margin-bottom: 40px;
}

.template_4 .sub-row {
  margin-bottom: 0 !important;
}

.template_4 section {
  padding-top: 100px !important;
  padding-bottom: 100px !important;
}

.template_4 section:nth-child(2n-1) {
  background-color: #e0e9ee !important;
}

.template_4 section:first-child {
  background-color: transparent !important;
}

.template_4 section.page-home__contacts {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.template_4 section.template_4_fulImg {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.template_4.page-template:nth-child(2n) {
  background-color: #e0e9ee !important;
}

.template_4.page-template:nth-child(2n-1) {
  background-color: transparent !important;
}

.sub-row form .input-box .input-box {
  width: 100%;
}

@media screen and (min-width: 400px) {
  .block_catalog.triple .catalog-list .box:nth-child(3n) {
    margin-right: 0;
  }
}

@media screen and (min-width: 591px) {
  .partners-subTop .catalog-list .box:last-child,
  .partners-subTop .catalog-list .box:nth-last-child(2) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 769px) {
  .page-home__ready .container-100 .right .draggable::-webkit-scrollbar {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .page-home .popup {
    display: none !important;
  }
}

@media screen and (min-width: 1081px) {
  .header .left-mob-menu {
    display: none;
  }

  .header .right-mob-menu {
    display: none;
  }

  .big-menu .con-mob {
    display: none;
  }
}

@media screen and (min-width: 1201px) {
  .page-home__ready {
    min-height: 100vh;
  }

  .page-home__assambl {
    min-height: 100vh;
  }
}

@media screen and (max-width: 1750px) {
  .block_catalog.with-aside aside {
    width: calc(33.33% - 33.33px);
    min-width: calc(33.333% - 33.333px);
    margin-right: 50px;
    margin-bottom: 50px;
  }

  .block_catalog.with-aside .catalog-list {
    width: 100%;
  }

  .block_catalog.with-aside .catalog-list .box {
    width: calc(50% - 25px);
    margin-right: 50px;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 1690px) {
  .footer .cont {
    margin-right: 60px;
  }

  .footer .menu-coll {
    margin-right: 50px;
  }

  .header > .right .menu-container a {
    padding: 40px 20px;
  }
}

@media screen and (max-width: 1685px) {
  .page-home__assambl .left {
    width: calc(42% - 50px);
  }

  .page-home__assambl .right {
    width: 58%;
  }

  .page-home__assambl .row-b .left {
    width: calc(42% - 50px);
    min-width: 475px;
    height: 22.255vw;
  }
}

@media screen and (max-width: 1600px) {
  .page-home__ready .container-100 .left {
    width: 100%;
    max-width: 350px;
  }

  .page-home__ready .container-100 .right {
    width: calc(100% - 300px);
  }

  .page-home__ready .container-100 .right .draggable {
    height: calc(26.8vw + 70px);
  }

  .page-home__ready .container-100 .right .box {
    margin-right: 30px;
    padding-bottom: 50px;
    padding-right: 73px;
  }

  .page-home__ready .container-100 .right .box:before {
    height: 26.8vw;
    width: calc(100% - 73px);
  }

  .page-home__ready .container-100 .right .box img {
    width: 50vw;
    height: 26.8vw;
  }

  .page-home__ready .container-100 .right .box h3 {
    font-size: 60px;
  }

  .page-home__ready .container-100 .right .box h3 span {
    font-size: 60px;
  }

  .template_4_header .page-home__ready {
    margin-bottom: -50px;
  }
}

@media screen and (max-width: 1550px) {
  p {
    font-size: 18px;
  }

  .title_1 {
    font-size: 40px;
  }

  .btn-orange {
    font-size: 16px !important;
    padding: 20px 40px !important;
  }

  .txt-content h2 {
    font-size: 40px;
  }

  .txt-content p,
  .txt-content li,
  .txt-content span,
  .txt-content div {
    font-size: 18px;
  }

  .page-home__ready {
    padding: 120px 0 80px;
  }

  .page-home__assambl {
    padding: 120px 0 0;
  }

  .page-home__contacts .left form .input {
    font-size: 18px;
  }

  .title-block h1 {
    font-size: 40px;
  }

  .popup.form_pop form .input {
    font-size: 18px;
  }
}

@media screen and (max-width: 1450px) {
  .footer .logo {
    width: 200px;
    margin-right: 30px;
  }

  .footer .cont {
    margin-right: 30px;
  }

  .footer .menu-coll {
    margin-right: 30px;
  }

  .footer .socials a {
    margin-left: 20px;
  }

  .header {
    height: 70px;
  }

  .header > .right {
    width: calc(50% - 70px);
  }

  .header > .right .menu-container a {
    font-size: 15px;
    padding: 27.5px 10px;
  }

  .header .menu-btn {
    width: 70px;
  }

  .header .menu-btn p {
    font-size: 20px;
  }

  .page-home__main .row:nth-child(2) .right .box {
    padding: 20px;
  }

  .page-home__main .row:nth-child(2) .right .box h2 {
    font-size: 20px;
  }

  .page-home__main .row:nth-child(2) .right .box > p {
    font-size: 14px;
  }

  .page-home__main .row:nth-child(2) .right .box .bottom p {
    font-size: 14px;
  }

  .page-home__main .row:nth-child(2) .right .box .bottom a {
    font-size: 16px;
  }

  .page-template {
    padding-top: 150px;
  }

  .header-single {
    padding-top: 150px;
  }
}

@media screen and (max-width: 1440px) {
  aside .acc_title {
    padding: 15px 50px 15px 25px;
    min-height: 60px;
  }

  aside .acc_title.triangle:after {
    right: 25px;
  }

  aside .acc_body {
    padding: 25px;
  }
}

@media screen and (max-width: 1400px) {
  .sub-row {
    padding: 50px 100px;
  }

  .template_4_fulImg .txt-content {
    padding: 100px;
  }
}

@media screen and (max-width: 1380px) {
  .case-box img {
    height: 200px;
  }

  .case-box img {
    height: 150px;
  }

  .template_4_services .bottom .box {
    padding: 40px;
  }

  .template_4_calendar .right-dates .box {
    padding: 40px;
  }

  .template_4_cases .right {
    min-width: 700px;
  }
}

@media screen and (max-width: 1350px) {
  .members .info .left {
    padding-right: 50px;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 1330px) {
  .template_4_table .row-filter .select-selected {
    font-size: 16px;
    padding: 20px 30px;
  }

  .template_4_table .row-filter .select-selected:before {
    right: 30px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid #fff;
  }

  .template_4_table .row-filter .select-items > div {
    font-size: 16px;
    padding: 20px 30px;
  }

  .template_4_table table th {
    padding: 20px 15px;
    font-size: 16px;
  }

  .template_4_table table td {
    padding: 15px;
    font-size: 18px;
  }

  .template_4_table table td {
    padding: 10px;
    font-size: 14px;
  }

  .template_4_accr .box-item.open .right {
    padding: 35px;
  }

  .template_4_accr .box-item.open .right .big {
    padding: 25px 0 0 !important;
  }

  .template_4_accr .right {
    padding: 15px;
  }
}

@media screen and (max-width: 1300px) {
  aside .acc_title {
    padding: 10px;
    font-size: 16px;
    min-height: 50px;
  }

  aside .acc_title.triangle:after {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid white;
    right: 10px;
  }

  aside .acc_body {
    padding: 15px;
  }

  .partners-subTop .catalog-list {
    padding-top: 10px;
  }

  .partners-subTop .catalog-list .box {
    margin-bottom: 50px;
  }

  .template_4_numbers .steps .box {
    margin-bottom: 40px;
  }

  .template_4 section {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
  }
}

@media screen and (max-width: 1280px) {
  .template_4_calendar .left {
    padding-left: 50px;
    min-width: 450px;
  }
}

@media screen and (max-width: 1200px) {
  .container-100 {
    padding: 0 50px;
  }

  .footer {
    padding: 30px 0;
  }

  .footer .logo {
    width: 280px;
    margin-right: 50px;
  }

  .footer .menu-coll {
    display: none;
  }

  .page-home__ready {
    padding: 50px 0;
  }

  .page-home__ready .container-100 {
    flex-direction: column;
  }

  .page-home__ready .container-100 .left {
    margin-bottom: 50px;
    margin-right: 0;
  }

  .page-home__ready .container-100 .left .title_1 {
    margin-bottom: 20px;
  }

  .page-home__ready .container-100 .left a {
    margin-top: 40px;
  }

  .page-home__ready .container-100 .right {
    width: calc(100% + 50px);
    margin-right: 50px;
  }

  .page-home__ready .container-100 .right .draggable {
    height: calc(33.5vw + 70px);
  }

  .page-home__ready .container-100 .right .box:before {
    height: 33.5vw;
  }

  .page-home__ready .container-100 .right .box img {
    width: 62.5vw;
    height: 33.5vw;
  }

  .page-home__assambl {
    padding: 50px 0 0;
  }

  .page-home__assambl .content {
    flex-direction: column;
  }

  .page-home__assambl .left {
    width: 100%;
    max-width: 450px;
    min-width: unset;
    margin-bottom: 50px;
  }

  .page-home__assambl .right {
    width: 100%;
  }

  .page-home__assambl .row-b {
    display: none;
  }

  .page-home__contacts .left {
    padding: 50px;
  }

  .page-home__contacts .left h2 {
    margin-bottom: 25px;
  }

  .page-home__contacts .left form p > span,
  .page-home__contacts .left form .form-group > span {
    margin-bottom: 15px;
  }

  .page-home__contacts .left form .btn-orange {
    margin-top: 15px;
  }

  .block_header .search {
    width: calc(50% - 25px);
    min-width: calc(50% - 25px);
  }

  .block_catalog.with-aside .container-100 {
    flex-direction: column;
  }

  .block_catalog.with-aside aside {
    width: calc(50% - 25px);
    min-width: 360px;
  }

  .template_4_fulImg .txt-content {
    padding: 50px;
  }

  .template_4_with-title-full .left {
    padding-left: 50px;
  }

  .template_4_with-title-full .right {
    padding-right: 50px;
  }

  .template_4_with-title-full.fullImg .title-full {
    padding: 0 50px;
  }

  .popup.form_pop form p > span,
  .popup.form_pop form .form-group > span {
    margin-bottom: 15px;
  }

  .popup.form_pop form .btn-orange {
    margin-top: 15px;
  }

  .template_4_numbers .steps .box span {
    font-size: 150px;
  }
}

@media screen and (max-width: 1160px) {
  .template_4_cases .right {
    min-width: 550px;
  }
}

@media screen and (max-width: 1120px) {
  .catalog-list.double .box {
    width: calc(50% - 25px);
  }
}

@media screen and (max-width: 1100px) {
  .block_header {
    padding-bottom: 15px;
  }

  .block_header .container-100 {
    flex-direction: column;
  }

  .block_header .search {
    margin: 30px auto 0 0;
    align-self: flex-start;
    min-width: 360px;
  }

  .block_header .search form .input {
    padding: 16px 0;
  }
}

@media screen and (max-width: 1080px) {
  .header > .left {
    display: none;
  }

  .header > .right {
    display: none;
  }

  .big-menu .left {
    display: none;
  }

  .big-menu .right {
    width: 100%;
  }

  .big-menu .right .sub-menu {
    display: none !important;
  }

  .big-menu .exit-btn {
    width: 40px;
    height: 40px;
  }

  .big-menu .exit-btn:before {
    width: 20px;
    height: 2px;
  }

  .big-menu .exit-btn:after {
    width: 20px;
    height: 2px;
  }
}

@media screen and (max-width: 1024px) {
  .btn-orange {
    font-size: 14px !important;
    padding: 15px 30px !important;
  }

  .txt-content > * {
    margin-bottom: 15px;
  }

  .page-home__main {
    height: 100vh;
    min-height: 510px;
    yelground-image: url(../img/mob_main.jpg);
  }

  .page-home__main .row {
    display: block;
    height: auto;
  }

  .page-home__main .row .left {
    border: none;
    width: 100%;
  }

  .page-home__main .row .left:before {
    display: none;
  }

  .page-home__main .row .right {
    border-bottom: 0;
    width: 100%;
  }

  .page-home__main .row:nth-child(1) .left {
    height: 40vh;
    min-height: 230px;
    padding: 90px 20px 20px;
    align-items: center;
    justify-content: center;
  }

  .page-home__main .row:nth-child(1) .left .logo {
    width: 230px;
    height: 110px;
  }

  .page-home__main .row:nth-child(1) .right {
    padding: 20px;
    height: 15vh;
    min-height: 70px;
    background-color: rgba(95, 97, 113, 0.5);
  }

  .page-home__main .row:nth-child(1) .right p {
    font-size: 30px;
    opacity: 1;
  }

  .page-home__main .row:nth-child(2) .left {
    display: none;
  }

  .page-home__main .row:nth-child(2) .right {
    height: 45vh;
    min-height: 210px;
  }

  .page-home__main .row:nth-child(2) .right .box {
    opacity: 1;
    height: calc(100% - 70px);
    min-height: 140px;
  }

  .page-home__main .row:nth-child(2) .right .box:nth-child(3) {
    display: none;
  }

  .page-home__main .row:nth-child(2) .right .box:nth-child(4) {
    width: 100%;
  }

  .page-home__main .row:nth-child(2) .right .box .bottom a:before {
    display: none;
  }

  .page-home__main .row:nth-child(2) .right .box.all {
    height: 70px;
    min-height: 70px;
  }

  .page-home__main .row:nth-child(2) .right .box.all h2 {
    max-width: 100%;
    font-size: 30px;
    text-align: center;
  }

  .page-template {
    padding-top: 120px;
  }

  .breadcrumbs {
    display: none;
  }

  .sub-row {
    padding: 50px;
  }

  .sub-row form .input-box {
    margin-right: 50px;
    width: calc(33.333% - 33.333px);
  }

  .catalog-list .box .bottom a:before {
    display: none;
  }

  .catalog-list .box.all {
    height: 70px;
    min-height: 70px;
  }

  .catalog-list .box.all h2 {
    max-width: 100%;
    font-size: 30px;
    text-align: center;
  }

  .case-box img {
    height: 26vw;
  }

  .template_4_double-coll .container-100 {
    flex-direction: column;
  }

  .template_4_double-coll .left {
    width: 100%;
    padding-right: 0;
    padding-bottom: 50px;
  }

  .template_4_double-coll .right {
    width: 100%;
  }

  .template_4_services .title_1 {
    margin-bottom: 30px;
  }

  .template_4_fulImg {
    flex-direction: column;
  }

  .template_4_fulImg .left {
    width: 100%;
  }

  .template_4_fulImg .right {
    width: 100%;
    padding: 0 50px 50px;
  }

  .template_4_defImg .container-100 {
    flex-direction: column;
  }

  .template_4_defImg .left {
    width: 100%;
    padding-bottom: 50px;
    padding-right: 0;
  }

  .template_4_defImg img {
    width: 100%;
    max-height: unset;
  }

  .template_4_defImg .right {
    width: 100%;
  }

  .template_4_calendar {
    flex-direction: column;
    padding: 50px;
  }

  .template_4_calendar .left {
    width: 100%;
    min-width: unset;
    padding: 0;
    padding-bottom: 50px;
  }

  .template_4_calendar .right-dates {
    width: 100%;
  }

  .template_4_cases .container-100 {
    flex-direction: column;
  }

  .template_4_cases .left {
    width: 100%;
    padding-right: 0;
    padding-bottom: 50px;
  }

  .template_4_cases .right {
    min-width: unset;
    width: 100%;
  }

  .template_4_defVideo .container-100 {
    flex-direction: column;
  }

  .template_4_defVideo .left {
    width: 100%;
    padding-right: 0;
    padding-bottom: 50px;
  }

  .template_4_defVideo p {
    max-width: 100%;
  }

  .template_4_defVideo .right {
    width: 100%;
  }

  .template_4_with-title-full {
    padding: 50px;
  }

  .template_4_with-title-full .container-100 {
    padding: 0;
  }

  .template_4_with-title-full .title-full {
    margin-bottom: 30px;
  }

  .template_4_with-title-full .left {
    padding: 0 0 50px 0;
    width: 100%;
  }

  .template_4_with-title-full .right {
    padding: 0;
    width: 100%;
  }

  .template_4_with-title-full.fullImg .title-full {
    padding: 0;
  }

  .header-single {
    padding-top: 120px;
  }

  .content-single {
    padding: 40px 0;
  }

  .content-single .container-990 > * {
    margin-bottom: 15px;
  }

  .template_4_faq .container-100 {
    flex-direction: column;
  }

  .template_4_faq .left {
    width: 100%;
    padding-right: 0;
  }

  .template_4_faq .right {
    width: 100%;
    padding-top: 50px;
  }

  .template_4_faq .acc {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 990px) {
  .template_4_table .row-filter .select-selected {
    font-size: 12px;
    padding: 15px;
  }

  .template_4_table .row-filter .select-selected:before {
    right: 15px;
  }

  .template_4_table .row-filter .select-items > div {
    font-size: 12px;
    padding: 15px;
  }

  .template_4_table table th {
    padding: 10px;
    font-size: 12px;
  }
}

@media screen and (max-width: 950px) {
  .template_4_services .bottom {
    padding: 0 50px;
  }

  .template_4_services .bottom .box {
    width: 50% !important;
  }
}

@media screen and (max-width: 875px) {
  .template_4_accr .box-item.open .right {
    padding: 15px;
  }

  .template_4_accr .box-item.open .right .big {
    padding-top: 15px !important;
  }

  .template_4_accr .close {
    right: 15px;
    top: 15px;
  }

  .template_4_accr .right h2,
  .template_4_accr .right h3 {
    margin-bottom: 2px;
  }

  .template_4_accr .right p {
    margin-bottom: 5px;
  }

  .template_4_accr .big .coll {
    width: 100%;
    padding-right: 0;
    margin-bottom: 15px;
  }

  .template_4_accr .big .bottom {
    padding-top: 0;
  }
}

@media screen and (max-width: 800px) {
  .footer .container-100 {
    flex-direction: column;
    align-items: center;
  }

  .footer .logo {
    width: 100%;
    max-width: 220px;
    margin: 0;
  }

  .footer .cont {
    margin: 20px 0;
  }

  .footer .cont p {
    text-align: center;
  }

  .footer .cont a {
    text-align: center;
  }

  .footer .socials {
    height: auto;
    margin: 0 auto;
  }
}

@media screen and (max-width: 768px) {
  p {
    font-size: 16px;
  }

  .container-100 {
    padding: 0 25px;
  }

  .title_1 {
    font-size: 28px;
  }

  .txt-content h2 {
    font-size: 28px;
  }

  .txt-content p,
  .txt-content li,
  .txt-content span,
  .txt-content div {
    font-size: 16px;
  }

  .page-home__main .row:nth-child(1) .left .logo {
    width: 170px;
    height: 80px;
  }

  .page-home__main .row:nth-child(1) .right p {
    font-size: 20px;
  }

  .page-home__main .row:nth-child(2) .right .box.all h2 {
    font-size: 22px;
  }

  .page-home__ready .container-100 .left a {
    margin-top: 20px;
  }

  .page-home__ready .container-100 .right {
    width: calc(100% + 25px);
    margin-right: 25px;
  }

  .page-home__ready .container-100 .right {
    overflow: scroll hidden;
    -webkit-overflow-scrolling: touch;
  }

  .page-home__ready .container-100 .right .draggable {
    height: calc(33.5vw + 40px);
  }

  .page-home__ready .container-100 .right .box {
    padding-right: 36px;
  }

  .page-home__ready .container-100 .right .box:before {
    width: calc(100% - 36px);
  }

  .page-home__ready .container-100 .right .box h3 {
    font-size: 30px;
  }

  .page-home__ready .container-100 .right .box h3 span {
    font-size: 30px;
  }

  .page-home__contacts .left {
    padding: 50px 25px;
  }

  .page-home__contacts .left form .input {
    font-size: 16px;
  }

  .title-block h1 {
    font-size: 28px;
  }

  .block_header .search form .input {
    font-size: 16px;
  }

  .block_header .search form .input::-webkit-input-placeholder {
    font-size: 16px;
  }

  .block_header .search form .input:-ms-input-placeholder {
    font-size: 16px;
  }

  .block_header .search form .input::-ms-input-placeholder {
    font-size: 16px;
  }

  .block_header .search form .input::placeholder {
    font-size: 16px;
  }

  .sub-row {
    padding: 30px 25px;
  }

  .sub-row form .input-box {
    width: 100%;
    margin-right: 0;
    margin-bottom: 15px;
  }

  .sub-row form .btn-orange {
    margin-top: 0;
  }

  .catalog-list .box.all h2 {
    font-size: 22px;
  }

  .catalog-list.double .box {
    width: calc(50% - 12.5px);
  }

  .two-cases .case-box {
    width: calc(50% - 12.5px);
  }

  .case-box img {
    margin-bottom: 5px;
  }

  .case-box h3 {
    margin-bottom: 2px;
  }

  .template_4_header .page-home__ready {
    margin-bottom: -36px;
  }

  .template_4_double-coll .left {
    padding-bottom: 25px;
  }

  .template_4_services .title_1 {
    margin-bottom: 25px;
  }

  .template_4_services .bottom {
    padding: 0 25px;
  }

  .template_4_services .bottom .box {
    padding: 25px;
  }

  .template_4_services .bottom .box h3 {
    margin-bottom: 10px;
  }

  .template_4_fulImg .right {
    padding: 0 25px 30px;
  }

  .template_4_fulImg .txt-content {
    padding: 30px 25px 25px;
  }

  .template_4_defImg .left {
    padding-bottom: 25px;
  }

  .template_4_calendar {
    padding: 25px;
  }

  .template_4_calendar .left {
    padding-bottom: 25px;
  }

  .template_4_calendar .right-dates .box {
    padding: 25px;
  }

  .template_4_calendar .right-dates .box h3 {
    margin-bottom: 10px;
  }

  .template_4_calendar .right-dates .box p {
    margin-bottom: 15px;
  }

  .template_4_cases .left {
    padding-bottom: 25px;
  }

  .template_4_defVideo .left {
    padding-bottom: 25px;
  }

  .template_4_with-title-full {
    padding: 25px;
  }

  .template_4_with-title-full .title-full {
    margin-bottom: 25px;
  }

  .template_4_with-title-full .left {
    padding: 0 0 25px 0;
  }

  .members .info .right .input {
    font-size: 16px;
  }

  .members .info .right .input::-webkit-input-placeholder {
    font-size: 16px;
  }

  .members .info .right .input:-ms-input-placeholder {
    font-size: 16px;
  }

  .members .info .right .input::-ms-input-placeholder {
    font-size: 16px;
  }

  .members .info .right .input::placeholder {
    font-size: 16px;
  }

  .header-single .description {
    padding-top: 30px;
  }

  .header-single .row {
    flex-direction: column;
  }

  .header-single .date {
    padding-right: 0;
    padding-bottom: 10px;
  }

  .popup.form_pop form .input {
    font-size: 16px;
  }

  .partners-subTop .catalog-list .box {
    margin-bottom: 25px;
  }

  .template_4_numbers h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  .template_4_numbers .steps .box {
    width: 100%;
  }

  .template_4_faq .right {
    padding-top: 25px;
  }

  .template_4 section {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
  }
}

@media screen and (max-width: 730px) {
  .block_catalog.with-aside .catalog-list .box {
    width: 100%;
    margin-right: 0;
    margin-bottom: 25px;
  }

  .catalog-list .box {
    padding: 25px;
  }
}

@media screen and (max-width: 720px) {
  .members .info {
    flex-direction: column;
  }

  .members .info .left {
    width: 100%;
    padding-right: 0;
  }

  .members .info .left h2,
  .members .info .left p {
    max-width: unset;
  }

  .members .info .left p {
    margin-top: 7px;
  }

  .members .info .right {
    width: 100%;
  }

  .members .info .right h2 {
    margin-bottom: 7px;
    max-width: unset;
  }
}

@media screen and (max-width: 715px) {
  .template_4_table .row-filter .select-selected {
    font-size: 10px;
    padding: 10px;
  }

  .template_4_table .row-filter .select-selected:before {
    right: 10px;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 6px solid #fff;
  }

  .template_4_table .row-filter .select-items > div {
    font-size: 10px;
    padding: 10px;
  }

  .template_4_table table th {
    padding: 5px;
    font-size: 10px;
  }

  .template_4_table table td {
    padding: 5px;
    font-size: 12px;
  }
}

@media screen and (max-width: 700px) {
  .template_4_accr .box-item.open .left {
    width: 210px;
  }
}

@media screen and (max-width: 650px) {
  .page-home__contacts .left {
    width: 100%;
  }

  .page-home__contacts .right {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .template_4_header h1 {
    font-size: 50px;
  }

  .template_4_header-simple h1 {
    font-size: 50px;
  }

  .members .container-100 h1 {
    font-size: 50px;
  }

  .popup.form_pop form {
    padding: 50px 20px 20px;
  }
}

@media screen and (max-width: 590px) {
  .catalog-list.double .box {
    width: 100%;
  }

  .two-cases {
    flex-direction: column;
  }

  .two-cases .case-box {
    width: 100%;
    margin-bottom: 25px;
  }

  .case-box img {
    height: 50vw;
  }

  .template_4_services .bottom .box {
    width: 100% !important;
    border: 1px solid white !important;
    margin-bottom: -1px;
  }

  .template_4_calendar .right-dates {
    flex-direction: column;
  }

  .template_4_calendar .right-dates .box {
    width: 100%;
    border: none !important;
    border: 1px solid white !important;
    margin-bottom: -1px;
  }
}

@media screen and (max-width: 575px) {
  .template_4_accr .box-item {
    flex-direction: column;
  }

  .template_4_accr .box-item.open .left {
    width: 100%;
    height: 180px;
  }

  .template_4_accr .box-item.open .right {
    width: 100%;
  }

  .template_4_accr .close {
    top: 195px;
  }

  .template_4_accr .left {
    width: 100%;
    height: 120px;
  }

  .template_4_accr .left img {
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }

  .template_4_accr .right {
    width: 100%;
  }
}

@media screen and (max-width: 550px) {
  .page-home__main .row:nth-child(2) .right .box {
    padding: 10px;
  }

  .page-home__main .row:nth-child(2) .right .box h2 {
    font-size: 18px;
    margin-bottom: 7px;
  }

  .page-home__main .row:nth-child(2) .right .box > p {
    font-size: 13px;
  }

  .page-home__main .row:nth-child(2) .right .box .bottom p {
    font-size: 13px;
  }

  .page-home__main .row:nth-child(2) .right .box .bottom a {
    font-size: 14px;
  }

  .catalog-list .box {
    min-height: 200px;
  }
}

@media screen and (max-width: 530px) {
  .template_4_numbers .steps .box span {
    font-size: 100px;
  }
}

@media screen and (max-width: 500px) {
  .template_4_header h1 {
    font-size: 35px;
  }

  .template_4_header-simple h1 {
    font-size: 35px;
  }
}

@media screen and (max-width: 440px) {
  .container-100 {
    padding: 0 15px;
  }

  .page-home__ready .container-100 .right {
    width: calc(100% + 15px);
    margin-right: 15px;
  }

  .page-home__contacts .left {
    padding: 50px 15px;
  }

  .sub-row {
    padding: 30px 15px;
  }

  .block_catalog.with-aside .catalog-list .box {
    margin-bottom: 15px;
  }

  .catalog-list .box {
    padding: 15px;
  }

  .two-cases .case-box {
    margin-bottom: 15px;
  }

  .template_4_double-coll .left {
    padding-bottom: 15px;
  }

  .template_4_services .title_1 {
    margin-bottom: 15px;
  }

  .template_4_services .bottom {
    padding: 0 15px;
  }

  .template_4_services .bottom .box {
    padding: 15px;
  }

  .template_4_fulImg .right {
    padding: 0 15px 30px;
  }

  .template_4_fulImg .txt-content {
    padding: 30px 15px 15px;
  }

  .template_4_defImg .left {
    padding-bottom: 15px;
  }

  .template_4_calendar {
    padding: 15px;
  }

  .template_4_calendar .left {
    padding-bottom: 15px;
  }

  .template_4_calendar .right-dates .box {
    padding: 15px;
  }

  .template_4_cases .left {
    padding-bottom: 15px;
  }

  .template_4_defVideo .left {
    padding-bottom: 15px;
  }

  .template_4_with-title-full {
    padding: 15px;
  }

  .template_4_with-title-full .title-full {
    margin-bottom: 15px;
  }

  .template_4_with-title-full .left {
    padding: 0 0 15px 0;
  }

  .partners-subTop .catalog-list .box {
    margin-bottom: 15px;
  }

  .template_4_numbers .steps .box {
    margin-bottom: 15px;
  }

  .template_4_numbers .steps .box span {
    font-size: 70px;
    margin-right: 10px;
  }

  .template_4_numbers .steps .box p {
    width: 100%;
  }

  .template_4_faq .right {
    padding-top: 15px;
  }
}

@media screen and (max-width: 390px) {
  .block_header .search {
    width: 100%;
    min-width: unset;
  }

  .block_catalog.with-aside aside {
    width: 100%;
    min-width: unset;
  }
}

@media screen and (max-width: 360px) {
  .header .left-mob-menu ul a {
    font-size: 12px;
  }

  .header .right-mob-menu ul a {
    font-size: 12px;
  }

  .page-home__main .row:nth-child(2) .right .box h2 {
    font-size: 15px;
  }
}